body {
   height: 100vh;
   width: 100%;
   background-color: #F0E68C;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: $font1 !important;
   @include media('xs') {
    padding: 10px;
   }
}
@mixin pulseanimation {
   animation: pulse 0.5s infinite ease;
      @keyframes pulse {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 0.5;
          }
          100% {
              opacity: 1;
          }
      }
}



@mixin center($extend: true) {
    @if $extend {
        @extend %center;
    } @else {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

%center {
    @include center($extend: false);
}

@mixin fade-transition($element) {
	-webkit-transition: $element 0.15s ease-in-out;
	-moz-transition: $element 0.15s ease-in-out;
	-ms-transition: $element 0.15s ease-in-out;
	-o-transition: $element 0.15s ease-in-out;
	transition: $element 0.15s ease-in-out;
}

.alertlights {
   .btncircle {
     &.-red {
         @include pulseanimation();
     }
   }
   .window_green {
      @include pulseanimation();
   }
}

.lightining {
    @include pulseanimation();
}


/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .text-center {
    text-align: center !important;
  }
  .text-left {
    text-align: left !important;
  }

  .text-right {
    text-align: right;
  }

  .align-center {
    align-items: center !important;
  }

  .align-start {
    align-items: flex-start !important;
  }

  .justify-center {
    justify-content: center !important;
  }

  .justify-start {
    justify-content: flex-start !important;
  }
  

  .float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float{
    0%,100%{
      box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
      transform:translatey(0)
    }
    50%{
      box-shadow:0 25px 15px 0 rgba(0,0,0,.2);
      transform:translatey(-10px)
    }
  }

  .turnon {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: black;
    color: white;
    padding: 5px;
    z-index: 1000;
    @include media('xs') {
      top: 5px;
    }
  }


  body:not(.app-off) .turnon{
    display: none;
  }
  .app-off {
    .swiper-pagination,
    .btnmenu,
    .control,
    .pokedex-cover {
      pointer-events: none;
    }
  }