$color-primary: #dc143c;
$color-secondary: #01becc;
$color-tertiary: #f0da14;
$color-quartiary: #03880e;
$color-quintiary: #eb0000fd;
$color-sextiary: #28a532;

$white: #fff;
$black: #000;
$dark: #1b1b1b;

$font1: 'Red Hat Mono', monospace;