
@mixin flex-between-center {
    display: flex;
    justify-content:space-between;
    align-items: center ;
}
@mixin flex-start-center {
    display: flex;
    justify-content:flex-start;
    align-items: center ;
}


.container-btns-nav {
    width: 100%;
    @include flex-start-center;
    img {
        width: 130px;
        height: 130px;
    }
    .imgs-btn-tyni {
        @include flex-between-center;
        background-color: aqua;
        width: 100%;
        max-width: 100px;
        height: fit-content;
        img {
            width: 100%;
            height: auto;
        }
    }
}