<section class="contact">
    <h2>Curtiu? Mande uma mensagem!!</h2>
    <p>Ficarei grato em recebê-la</p>
    <a class="btn" id="openContact" data-href="javascript:void(0)">Entre em Contato</a>
    <!-- <ul class="list-contacts is-mobile">
        <li>
            <a href="https://wa.me/51985654436">
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>
        <li>
            <a href="linkedin.com/in/fernando-aquistapace-33a414165">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="github.com/Akistapace"> 
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul> -->
    <i class="close fas fa-times-circle"></i>
    <iframe class="Sendmail" src="https://us1.list-manage.com/contact-form?u=eddc4a3e2f688e4ae6e66e693&form_id=d63fcb17076325f324dc6789b6129556">
    </iframe>
</section>    
            