<footer>

    <div class="footer-top"></div>
    <div class="footer-container">
        <div class="footer-content">
            <a class="back-top" href="#topo">
                <i class="fas fa-chevron-circle-up"></i>
            </a>
        </div>
    </div>

    <div id="CoverRed" class="cover-red">
        <img src="src/assets/img/bg-cover-red.png" alt="Capa Pokedéx">
        <div class="triangulo-yellow"></div>
        <div id="myProgress">
            <div id="myBar">
                <div id="label">10%</div>
            </div>
        </div>
    </div>
    <script src="https://use.fontawesome.com/609ffafc18.js"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./src/js/min/index.js"></script>
    <script id="mcjs">
        ! function(c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/eddc4a3e2f688e4ae6e66e693/c10bf428230458ffba4692268.js");
    </script>

    <div style="display: none;">
        <a href="https://icons8.com/icon/45513/te-peguei">Te peguei icon by Icons8</a>
        <a href="https://www.flaticon.com/br/autores/roundicons-freebies" title="Roundicons Freebies">Roundicons Freebies</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a>
        <div>Ícones feitos por <a href="https://www.flaticon.com/br/autores/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</footer>