<section class="home-container-cover">
    <div class="swiper-container slide-home">
        <div class="swiper-wrapper">
            <div class="swiper-slide Slide-first">
                <figure>
                    <!-- <img src="./src/assets/img/bg-home.png" alt=""> -->
                    <figcaption>
                        Bem-Vindo a minha Portdéx
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide Slide-first">
		        @@include('../components/about-me.html')
            </div>
            <div class="swiper-slide Slide-first">
                <figure>
                    <!-- <img src="./src/assets/img/bg-home.png" alt=""> -->
                    <figcaption>
                        Bem-Vindo a minha Portdéx
                    </figcaption>
                </figure>
                <i class="arrow-down fas fa-angle-double-down"></i>
            </div>
        </div>
    </div>
    <div class="controls-container">
        <i btns-panel class="button-prev fas fa-chevron-circle-left"></i>
        <div class="swiper-pagination"></div>
        <i btns-panel class="button-next fas fa-chevron-circle-right"></i>
     </div>
</section>
