<section class="home-container-cover" id="topo">
    <div class="swiper-container slide-home">
        <div class="swiper-wrapper">
            <div class="swiper-slide Slide-first">
                <figure>
                    <!-- <img src="./src/assets/img/bg-home.png" alt=""> -->
                    <figcaption>
                        Bem-Vindo a minha Portdéx
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide Slide-first">
                <figure>
                    <!-- <img src="./src/assets/img/bg-home.png" alt=""> -->
                    <figcaption>
                        Bem-Vindo a minha Portdéx
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide Slide-first">
                <figure>
                    <!-- <img src="./src/assets/img/bg-home.png" alt=""> -->
                    <figcaption>
                        Bem-Vindo a minha Portdéx
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="controls-container">
        <div class="controls-first"></div>
        <div class="controls-second">
            <div class="button-next"></div>
            <div class="button-prev"></div> 
        </div>
        <div class="controls-third">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
