<section class="cards">
    <h1 class="titles-h2">Insígnias</h1>
    <ul class="cards-group">
        <li>
            <div class="card card-orange">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/html.png" alt="Logo Html">
                </figure>
            </div>
            <h6>html 5</h6>
        </li>
        <li>
            <div class="card card-blue">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/css3.png" alt="Logo css3">
                </figure>
            </div>
            <h6>css 3</h6>
        </li>
        <li>
            <div class="card card-yellow">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/js.png" alt="Logo javascript">
                </figure>
            </div>
            <h6>javascript</h6>
        </li>
        <li>
            <div class="card card-pink">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/sass.png" alt="Logo sass">
                </figure>
            </div>
            <h6>sass</h6>
        </li>
        <li>
            <div class="card card-purple">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/bootstrap.png" alt="Logo bootstrap">
                </figure>
            </div>
            <h6>bootstrap</h6>
        </li>
        <li>
            <div class="card card-black">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/github.png" alt="Logo github">
                </figure>
            </div>
            <h6>github</h6>
        </li>
        <li>
            <div class="card card-green">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/nodejs.png" alt="Logo nodejs">
                </figure>
            </div>
            <h6>Node Js</h6>
        </li>
        <li>
            <div class="card card-red">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/npm.png" alt="Logo npm">
                </figure>
            </div>
            <h6>NPM</h6>
        </li>
        <li>
            <div class="card card-divght-blue">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/wordpress.png" alt="Logo wordpress">
                </figure>
            </div>
            <h6>wordpress</h6>
        </li>
        <li>
            <div class="card card-red">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/git.png" alt="Logo git">
                </figure>
            </div>
            <h6>git</h6>
        </li>
        <li>
            <div class="card card-blue">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/bitbucket.png" alt="Logo bitbucket">
                </figure>
            </div>
            <h6>Bitbucket</h6>
        </li>
        <li>
            <div class="card card-orange">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/grunt.png" alt="Logo grunt">
                </figure>
            </div>
            <h6>Grunt</h6>
        </li>
        <li>
            <div class="card card-red">
                <img class="gotcha-seal" src="https://img.icons8.com/color/48/000000/gotcha.png" />
                <figure class="card-img">
                    <img src="./src/assets/img/insignias/gulp.png" alt="Logo gulp">
                </figure>
            </div>
            <h6>Gulp</h6>
        </li>
        <li>
            <div class="card empty"></div>
            <h6>Webpack</h6>
        </li>
        <li>
            <div class="card empty"></div>
            <h6>Bower</h6>
        </li>
        <li>
            <div class="card empty"></div>
            <h6>React</h6>
        </li>
        <li>
            <div class="card empty"></div>
            <h6>Vue JS</h6>
        </li>
        <li>
            <div class="card empty"></div>
            <h6>Angular</h6>
        </li>
        <div class="cover-white">
            <span class="stripes left"></span>
            <img src="./src/assets/img/pokebolaCoverWhite.svg" alt="Pokebola">
            <span class="stripes right"></span>
        </div>
    </ul>
    <button id="seeMoreBtn" type="button">Ver Mais</button>
</section>