<div class="insignias">
    <div class="swiper ">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item" data-index="0">
                    <img src="./src/assets/insignias/html.png" alt="HTML" srcset="">
                </div>
                <div class="item" data-index="1">
                    <img src="./src/assets/insignias/css3.png" alt="CSS" srcset="">
                </div>
                <div class="item" data-index="2">
                    <img src="./src/assets/insignias/js.png" alt="Javascript" srcset="">
                </div>
                <div class="item" data-index="3">
                    <img src="./src/assets/insignias/sass.png" alt="Sass" srcset="">
                </div>
                <div class="item" data-index="4">
                    <img src="./src/assets/insignias/bootstrap.png" alt="Bootstrap" srcset="">
                </div>
                <div class="item" data-index="5">
                    <img src="./src/assets/insignias/nodejs.png" alt="Node" srcset="">
                </div>
                <div class="item" data-index="6">
                    <img src="./src/assets/insignias/npm.png" alt="NPM" srcset="">
                </div>
                <div class="item" data-index="7">
                    <img src="./src/assets/insignias/gulp.png" alt="Gulp" srcset="">
                </div>
                <div class="item" data-index="8">
                    <img src="./src/assets/insignias/grunt.png" alt="Grunt" srcset="">
                </div>
                <div class="item" data-index="9">
                    <img src="./src/assets/insignias/git.png" alt="Git" srcset="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item" data-index="10">
                    <img src="./src/assets/insignias/github.png" alt="GitHub" srcset="">
                </div>
                <div class="item" data-index="11">
                    <img src="./src/assets/insignias/jquery.png" alt="JQuery" srcset="">
                </div>
                <div class="item" data-index="12">
                </div>
                <div class="item" data-index="13"></div>
                <div class="item" data-index="14"></div>
                <div class="item" data-index="15"></div>
                <div class="item" data-index="16"></div>
                <div class="item" data-index="17"></div>
                <div class="item" data-index="18"></div>
                <div class="item" data-index="19">
                  
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
