<section>
    <ul class="insigniasTeste">
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">
        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li>
            <img src="./src/assets/img/insignias/html.png" alt="Logo Html">

        </li>
        <li class="empty">

        </li>
        <li class="empty">
            
        </li>
        <li class="empty">
            
        </li>
    </ul>
</section>