<section class="portfolio">
  <h1 class="titles-h2">Portfólio</h1>
  <div class="portfolio__inner">
    <div class="portfolio__content">
      <div class="swiper-container portfolio-slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="https://akistapace.github.io/Pokebola/">
              <img src="./src/assets/img/portfolio/pokebola.jpg" alt="Pokebola em CSS Puro" title="Pokebola em CSS Puro">
            </a>
          </div>
          <div class="swiper-slide">
            <img src="./src/assets/img/404-image.jpg" alt="" title="">
          </div>
          <div class="swiper-slide">
            <img src="./src/assets/img/404-image.jpg" alt="" title="">
          </div>
          <div class="swiper-slide">
            <img src="./src/assets/img/404-image.jpg" alt="" title="">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="portfolio__content">
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery-item-text">
            <h3 class="title">Pokebola em CSS Puro</h3>
            <p class="text">
                Projeto realizado para aprimoramento de meu CSS, utilizando um pouco de animação, e propriedades 
                como: overflow, after, before, filter e radial-gradient para se obter esta magnífica Pokebola.
            </p>
          </div>
          <div class="swiper-slide gallery-item-text">
            <h3 class="title">Titulo2</h3>
              <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, odio, repellat neque autem temporibus nostrum unde doloribus rerum dolorem sunt labore deserunt nihil voluptatum fugiat! Atque quod sit dolorum molestiae!</p>
          </div>
          <div class="swiper-slide gallery-item-text">
            <h3 class="title">Titulo3 </h3>
              <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, odio, repellat neque autem temporibus nostrum unde doloribus rerum dolorem sunt labore deserunt nihil voluptatum fugiat! Atque quod sit dolorum molestiae!</p>
          </div>
          <div class="swiper-slide gallery-item-text">
            <h3 class="title">Titulo4</h3>
              <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, odio, repellat neque autem temporibus nostrum unde doloribus rerum dolorem sunt labore deserunt nihil voluptatum fugiat! Atque quod sit dolorum molestiae!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>