<div class="window_straight">
    <div class="content" data-index="0">
      <ul>
        <li>
          <b>Linguagem:</b> HTML - Hypertext Markup Language
        </li>
        <li>
          <b>Habilidades:</b>
          <ul>
            <li>
              - HTML semântico
            </li>
          </ul>
        </li>
      </ul> 
     
    
    </div>
    <div class="content" data-index="1">
      
      <ul>
        <li>
          <b>Linguagem:</b> CSS - Cascading Style Sheets
        </li>
        <li>
          <b>Habilidades:</b>
          <ul>
            <li>
              - Positions
            </li>
            <li>
              - Flexbox
            </li>
            <li>
              - Grid
            </li>
            <li>
              - Responsividade
            </li>
            <li>
              - Animações
            </li>
          </ul>
        </li>
      </ul> 
    
    </div>
    <div class="content" data-index="2">
      
      Slide 3
    
    </div>
    <div class="content" data-index="3">
      
      Slide 4
    
    </div>
    <div class="content" data-index="4">
      
      Slide 5
    
    </div>
    <div class="content" data-index="5">
      
      Slide 6
    
    </div>
    <div class="content" data-index="6">
      
      Slide 7
    
    </div>
    <div class="content" data-index="7">
      
      Slide 8
    
    </div>
    <div class="content" data-index="8">
      
      Slide 9
    
    </div>
    <div class="content" data-index="9">
      
      Slide 9
    
    </div>
</div>