<div class="window_straight">
    <div class="content" data-index="0">
      <ul>
        <li>
          <b>Linguagem:</b> HTML - Hypertext Markup Language
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>
              - HTML semântico
            </li>
          </ul>
        </li>
      </ul> 
     
    
    </div>

    <div class="content" data-index="1">
      
      <ul>
        <li>
          <b>Linguagem:</b> CSS - Cascading Style Sheets
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>
              - Positions
            </li>
            <li>
              - Flexbox
            </li>
            <li>
              - Grid
            </li>
            <li>
              - Responsividade
            </li>
            <li>
              - Animações
            </li>
          </ul>
        </li>
      </ul> 
    
    </div>

    <div class="content" data-index="2">
      <ul>
        <li>
          <b>Linguagem:</b> javascript
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Vanilla</li>
            <li>ES6</li>
            <li>Vuejs</li>
            <li>Nuxtjs</li>
            <li>Jquery</li>
            <li>IIFE</li>
            <li>Function Factory</li>
            <li>Manipulação do Dom</li>
          </ul>
        </li>
      </ul>
    
    </div>
    
    <div class="content" data-index="3">
      <ul>
        <li>
          <b>Pré-processador de css:</b> SASS/SCSS
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Padrão RSCSS</li>
            <li>Mixins</li>
            <li>Placeholders</li>
            <li>Variáveis</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="content" data-index="4">
      
      <ul>
        <li>
          <b>Framework:</b> Bootstrap
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Estilos inline</li>
            <li>Funções com bootstrap</li>
          </ul>
        </li>
      </ul>
    
    </div>
    <div class="content" data-index="5">
      
      <ul>
        <li>
          <b>Gerenciador de pacotes:</b> NPM
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Instalação e utilização de pacotes</li>
            <li>Gestão e atualização de pacotes</li>
          </ul>
        </li>
      </ul>
    
    </div>

    <div class="content" data-index="6">
      
      <ul>
        <li>
          <b>Task Runner Js:</b> Gulp
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Noções básicas </li>
            <li>Plugins</li>
            <li>Organização da estrutura</li>
            <li>Gulp versões 4 e 5</li>
          </ul>
        </li>
      </ul>
    
    </div>
    <div class="content" data-index="7">
      
      <ul>
        <li>
          <b>Task Runner Js:</b> Grunt
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Noções básicas </li>
            <li>Plugins</li>
            <li>Organização da estrutura</li>
          </ul>
        </li>
      </ul>
    
    </div>
    <div class="content" data-index="8">
      
    <ul>
      <li>
        <b>Versionamento:</b> Git
      </li>
      <li>
        <b>Conhecimentos:</b>
        <ul>
          <li>Comandos básicos</li>
          <li>pull, push, checkout, merge, clone etc.</li>
        </ul>
      </li>
    </ul>
    
    </div>
    <div class="content" data-index="9">
      
      <ul>
        <li>
          <b>Hospedagem de código</b> Github
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Criação de novos reposítos</li>
            <li>Acesso ssh e https</li>
            <li>Pull requests</li>
          </ul>
        </li>
      </ul>
    
    </div>

    <div class="content" data-index="10">
    
      <ul>
        <li>
          <b>Gerenciador de pacotes:</b> Yarn
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Instalação e utilização de pacotes</li>
            <li>Gestão e atualização de pacotes</li>
          </ul>
        </li>
      </ul>
    
    </div>

    <div class="content" data-index="11">
    
      <ul>
        <li>
          <b>Hospedagem de código</b> Bitbucket
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Criação de novos reposítos</li>
            <li>Acesso ssh e https</li>
            <li>Pull requests</li>
          </ul>
        </li>
      </ul>
    
    </div>

    <div class="content" data-index="12">
    
      <ul>
        <li>
          <b>Hospedagem de código</b> Gitlab
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Criação de novos reposítos</li>
            <li>Acesso ssh e https</li>
            <li>Pull requests</li>
            <li>CI/CD</li>
            <li>Pages</li>
          </ul>
        </li>
      </ul>
    
    </div>

    <div class="content" data-index="13">
    
      <ul>
        <li>
          <b>Template de páginas</b> Liquid
        </li>
        <li>
          <b>Conhecimentos:</b>
          <ul>
            <li>Iterações</li>
            <li>Variaveis</li>
            <li>Estruturas próprias do liquid</li>
          </ul>
        </li>
      </ul>
    
    </div>
</div>