<div class="window_straight">
    <div class="content" data-index="0">
      
      Slide 1
    
    </div>
    <div class="content" data-index="1">
      
      Slide 2
    
    </div>
    <div class="content" data-index="2">
      
      Slide 3
    
    </div>
    <div class="content" data-index="3">
      
      Slide 4
    
    </div>
    <div class="content" data-index="4">
      
      Slide 5
    
    </div>
    <div class="content" data-index="5">
      
      Slide 6
    
    </div>
    <div class="content" data-index="6">
      
      Slide 7
    
    </div>
    <div class="content" data-index="7">
      
      Slide 8
    
    </div>
    <div class="content" data-index="8">
      
      Slide 9
    
    </div>
    <div class="content" data-index="9">
      
      Slide 9
    
    </div>
</div>