<div class="window">
    <div class="btncontainer">
        <div class="inner">
            <button class="btncircle -small -red" type="button"></button>
            <button class="btncircle -small -red" type="button"></button>
        </div>
    </div>
    <div class="inner">
        @@include('../components/menu.html')

        <div class="swiper mySwiper swiper-h">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="content justify-center">
                  <h1 class="title">Bem vindo!</h1>
                  <p class="text">
                    Utilize as setas e os outros botões para interagir com a pokedéx.
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content justify-center">
                  <h1 class="title">Quem sou eu?</h1>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content text-left ">
                  <div class="content-flex">
                    <img class="float" src="src/assets/eu.jpeg" title="Eu - Fernando Oliveira Aquistapace" alt="Eu - Fernando Oliveira Aquistapace">
                    <div class="strongest">
                      <p class="text">Um pokemon:</p><br>
                      <span class="pill -red">Raro</span>
                      <span class="pill -green ">Inteligente</span>
                      <span class="pill -purple ">Rápido</span>  
                    </div>
                  </div>
                  <p class="text">Alegre e pró-ativo, sempre a procura de aprimoramento pessoal e profissional.</p>
                  <p class="text">Transformando idéias em realidade</p>

                </div>
              </div>
              
            </div>
        </div>
    </div>

    <div class="window-controls">
        <button class="btncircle -red" type="button"></button>
        <div class="btnmenu">
            <div class="menubar"></div>
            <div class="menubar"></div>
            <div class="menubar"></div>
            <div class="menubar"></div>
        </div>
    </div>

    <div class="swiper-pagination pagination"></div>
</div>