<div class="window">
    <div class="btncontainer">
        <div class="inner">
            <button class="btncircle -small -red" type="button"></button>
            <button class="btncircle -small -red" type="button"></button>
        </div>
    </div>
    <div class="inner">
        @@include('../components/menu.html')

        <div class="swiper mySwiper swiper-h">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="content justify-center">
                  <h1 class="title">Bem vindo!</h1>
                  <p class="text">
                    Utilize as setas e os outros botões para interagir com a pokedéx.
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content justify-center">
                  <h1 class="title">Quem sou?</h1>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content text-left ">
                  <div class="content-flex">
                    <img src="src/assets/eu.jpeg" title="Eu - Fernando Oliveira Aquistapace" alt="Eu - Fernando Oliveira Aquistapace">
                    <div>
                      <p class="text">Um pokemon raro,</p>
                      <p class="text">Desenvolvedor Frontend,</p>
                    </div>
                  </div>
                  <p class="text">Alegre e pró-ativo, sempre a procura de aprimoramento pessoal e profissional.</p>
                  <p class="text">Transformando idéias em realidade</p>

                </div>
              </div>

              <div class="swiper-slide">
                <div class="swiper mySwiper2 swiper-v">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="content justify-center">
                        <h1 class="title">Portfólio</h1>
                      </div>
                    </div>
                    <div class="swiper-slide">Vertical Slide 2</div>
                    <div class="swiper-slide">Vertical Slide 3</div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              
            </div>
        </div>
    </div>

    <div class="window-controls">
        <button class="btncircle -red" type="button"></button>
        <div class="btnmenu">
            <div class="menubar"></div>
            <div class="menubar"></div>
            <div class="menubar"></div>
            <div class="menubar"></div>
        </div>
    </div>

    <div class="swiper-pagination pagination"></div>
</div>