html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto Mono', monospace; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  cursor: pointer; }

a {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

header {
  height: 60px;
  background-color: #333232; }

main, body {
  background-color: #333232; }

.titles-h2 {
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-weight: 700;
  line-height: 100px;
  color: white; }

@media (max-width: 408px) {
  .titles-h2 {
    font-size: 24px;
    line-height: 40px; } }

::-webkit-scrollbar-track {
  background-color: crimson; }

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4; }

::-webkit-scrollbar-thumb {
  background: #dad7d7; }

.input {
  height: 30px; }

.btn-red {
  background-color: rgba(218, 18, 58, 0.904); }

.btn-yellow {
  background-color: yellow; }

.btn-green {
  background-color: green; }

.cards {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }
  .cards-group {
    width: 100%;
    height: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    background: #10107f;
    background: linear-gradient(349deg, #292b85, #0b0b4e);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px 5px #676060;
    position: relative;
    border: 14px solid #12125c;
    border-bottom-color: black;
    border-left-color: black;
    border: 40px solid;
    border-image: linear-gradient(203deg, #112377, #140c3c);
    border-image-slice: 1; }
    @media (max-width: 499px) {
      .cards-group {
        border-width: 20px !important;
        width: calc(100% - 40px);
        padding: 0;
        max-height: 50vh;
        overflow: hidden; } }
    .cards-group li {
      margin: 25px 15px;
      width: 100%;
      height: 100%;
      max-width: 110px;
      max-height: 100px;
      text-align: center; }
      @media (max-width: 499px) {
        .cards-group li {
          max-width: 70px;
          margin: 25px 10px; } }
      .cards-group li h6 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 30px;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .cards-group:hover .card:not(:hover) {
      opacity: 0.5; }
  .cards button {
    padding: 10px 20px;
    width: 50%;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #fd0000;
    background-color: #fd0000;
    color: white;
    outline: none;
    display: none; }
    @media (max-width: 499px) {
      .cards button {
        display: initial; } }

.card {
  width: 100%;
  height: 100%;
  min-width: 90px;
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none; }
  @media (max-width: 499px) {
    .card {
      min-width: 70px;
      min-height: 70px; } }
  .card .gotcha-seal {
    width: 64px;
    position: absolute;
    top: -60px;
    right: -18px;
    display: none; }
  .card:hover {
    box-shadow: 0 0 8px 5px #e4e4e4;
    cursor: url(../../assets/img/pokebola.png), default; }
    .card:hover .gotcha-seal {
      display: block; }
    .card:hover img {
      cursor: url(../../assets/img/pokebola.png) 2 2, default; }
  .card-img {
    max-width: 100px;
    height: fit-content;
    border-radius: 8px;
    object-fit: cover; }
    .card-img img {
      height: auto;
      width: 100%;
      max-height: 70px;
      max-width: 70px; }
      @media (max-width: 499px) {
        .card-img img {
          max-width: 60px;
          max-height: 60px; } }
  .card.empty {
    background-color: #1b1b61;
    background: linear-gradient(35deg, #181e3f -5px, #44209bf7 100%);
    width: 100%;
    height: 100%;
    min-width: 90px;
    min-height: 90px;
    border-radius: 8px;
    border: 8px solid #27276e;
    border-image: linear-gradient(294deg, #273da6, #140c3c);
    border-image-slice: 1; }
    @media (max-width: 499px) {
      .card.empty {
        width: calc(100% - 10px);
        min-width: 60px;
        min-height: 55px; } }

.card-red {
  background-image: linear-gradient(to bottom, #dc1a1a, #a93b3b); }

.card-blue {
  background-image: linear-gradient(to bottom, rgba(92, 96, 226, 0.933), rgba(47, 112, 209, 0.802)); }

.card-green {
  background-image: linear-gradient(to bottom, #1af337, #36a348); }

.card-yellow {
  background-image: linear-gradient(to bottom, #fbff00, #c7d01b); }

.card-purple {
  background-image: linear-gradient(to bottom, #ab60e9, #7423b6); }

.card-orange {
  background-image: linear-gradient(to bottom, #ffae00, #d8ab16); }

.card-pink {
  background-image: linear-gradient(to bottom, #ff03ab, #dd32bb); }

.card-light-blue {
  background-image: linear-gradient(to bottom, rgba(0, 217, 255, 0.878), #35afb8); }

.card-black {
  background-image: linear-gradient(black, #1a1919); }

.cover-white {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: #5db0d6;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  animation-fill-mode: forwards; }
  .cover-white span {
    content: '';
    width: 40%;
    height: 32px;
    position: absolute;
    background-color: black;
    transition: width 1s; }
    .cover-white span.left {
      left: 0; }
    .cover-white span.right {
      right: 0; }
  .cover-white img {
    max-height: 300px;
    z-index: 1; }
    @media (max-width: 499px) {
      .cover-white img {
        max-height: 150px; } }

.up {
  animation-name: up;
  animation-duration: 0.4s;
  animation-direction: reverse; }

@keyframes up {
  from {
    transform: scale(1.15); } }

.up.left {
  animation-name: left;
  animation-duration: 0.4s;
  animation-direction: reverse; }

@keyframes left {
  from {
    transform: translateX(200%); } }

.spin {
  animation-name: spin;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-direction: reverse; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.container-audio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 200px; }
  .container-audio button {
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: -20px;
    z-index: 2; }
  .container-audio .btns-audio {
    background-color: white;
    border: 5px solid black;
    outline: 0;
    width: 50px;
    height: 50px; }
    .container-audio .btns-audio span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 5px 1px #646464;
      position: absolute;
      z-index: 10;
      margin-left: -15px;
      margin-top: -15px;
      animation: brighRed 0.7s infinite;
      animation-direction: alternate;
      -webkit-animation-name: brightRed;
      animation-name: brightRed;
      animation-duration: infinite; }

@-webkit-keyframes brightRed {
  0% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

@keyframes brightRed {
  0% {
    opacity: 0.9;
    background-color: white; }
  100% {
    opacity: 1;
    background-color: #f3c3c3; } }
    .container-audio .btns-audio:hover span {
      transform: scale(0.9); }
  .container-audio .btn-play,
  .container-audio .btn-pause,
  .container-audio .btn-volup,
  .container-audio .btn-voldown {
    position: absolute;
    margin-right: 17.5px; }
    .container-audio .btn-play:hover,
    .container-audio .btn-pause:hover,
    .container-audio .btn-volup:hover,
    .container-audio .btn-voldown:hover {
      opacity: 0.8; }
  .container-audio .btn-play {
    margin-right: 130px;
    background-color: rgba(22, 22, 150, 0.713);
    display: none; }
  .container-audio .btn-pause {
    margin-right: 80px;
    background-color: rgba(22, 22, 150, 0.713);
    display: none; }
  .container-audio .btn-volup {
    margin-right: -45px;
    background-color: rgba(22, 22, 150, 0.713);
    display: none; }
  .container-audio .btn-voldown {
    margin-right: -95px;
    background-color: rgba(22, 22, 150, 0.713);
    display: none; }
  .container-audio .d-block {
    display: block; }

.contact {
  color: white;
  height: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px; }
  .contact h2 {
    font-size: 38px;
    font-weight: 700; }
  .contact p {
    font-size: 24px;
    padding: 15px 0; }
  @media (max-width: 499px) {
    .contact {
      height: 450px; }
      .contact h2 {
        font-size: 28px; }
      .contact p {
        font-size: 18px; } }
  .contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fd0000;
    background-color: #fd0000;
    color: white;
    height: 37px;
    padding: 0 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px; }
  .contact .list-contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 15px; }
    .contact .list-contacts li {
      height: 50px;
      width: 50px;
      background-color: white;
      text-align: center; }
      .contact .list-contacts li a i {
        font-size: 36px; }
        .contact .list-contacts li a i:hover {
          transform: scale(1.09); }
      .contact .list-contacts li a .fa-whatsapp {
        color: #25D366; }
      .contact .list-contacts li a .fa-github {
        color: black; }
      .contact .list-contacts li a .fa-linkedin {
        color: #0e76a8; }
  .contact .contact-container {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(19, 37, 200, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    overflow-Y: auto; }
    .contact .contact-container .contact-modal {
      background-color: white;
      transition: width 0.3s;
      position: relative;
      padding: 15px;
      width: 0%;
      margin: auto;
      max-width: 1000px;
      border-radius: 10px;
      margin-top: 12%; }
      @media (max-width: 499px) {
        .contact .contact-container .contact-modal {
          margin-top: 2%; } }
      .contact .contact-container .contact-modal .close {
        position: absolute;
        right: -15px;
        margin-top: -30px;
        cursor: pointer;
        color: crimson;
        font-size: 34px;
        text-align: center;
        z-index: 1;
        background-color: aliceblue;
        border-radius: 100%; }
      .contact .contact-container .contact-modal form {
        width: 100%;
        margin: auto; }
        @media (max-width: 499px) {
          .contact .contact-container .contact-modal form {
            flex-direction: column; } }
        .contact .contact-container .contact-modal form .form-content {
          display: flex;
          justify-content: space-evenly;
          align-items: center; }
          @media (max-width: 499px) {
            .contact .contact-container .contact-modal form .form-content {
              flex-direction: column; } }
          .contact .contact-container .contact-modal form .form-content .box {
            width: 45%; }
            @media (max-width: 499px) {
              .contact .contact-container .contact-modal form .form-content .box {
                width: calc(100% - 40px);
                padding: 20px 0; } }
          .contact .contact-container .contact-modal form .form-content label {
            align-self: flex-start;
            color: #0e76a8;
            display: block; }
            @media (max-width: 499px) {
              .contact .contact-container .contact-modal form .form-content label {
                align-self: center; } }
          .contact .contact-container .contact-modal form .form-content input,
          .contact .contact-container .contact-modal form .form-content textarea {
            padding: 5px 15px;
            outline: none;
            border-radius: 10px;
            border: 1px solid blue;
            margin-bottom: 10px;
            margin-top: 10px; }
          .contact .contact-container .contact-modal form .form-content input,
          .contact .contact-container .contact-modal form .form-content textarea {
            width: calc(100% - 30px); }
        .contact .contact-container .contact-modal form input[type="submit"] {
          width: 100%;
          padding: 5px 15px;
          outline: none;
          border-radius: 10px;
          border: 1px solid blue;
          margin: auto 15px;
          background-color: blue;
          color: white;
          font-weight: 700;
          max-width: 350px; }
          @media (max-width: 499px) {
            .contact .contact-container .contact-modal form input[type="submit"] {
              margin: 0px; } }

body {
  overflow: hidden; }
  body main {
    overflow-x: hidden; }

.cover-red {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: crimson;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s; }
  .cover-red img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .cover-red .triangulo-yellow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 85px solid transparent;
    border-bottom: 85px solid transparent;
    border-left: 85px solid #fafa06;
    position: absolute;
    z-index: 10;
    top: 45vh;
    left: 5%;
    transform: scale(1);
    animation: pulse 2s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.nav {
  background-color: crimson;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5;
  border-bottom: 10px solid black; }
  .nav-content {
    width: 80%;
    height: 60px;
    display: flex;
    padding: 10px; }
    .nav-content #btnOpen {
      cursor: pointer;
      outline: none;
      width: 95px;
      height: 90px;
      position: absolute;
      border-radius: 100%;
      border: 1px solid white;
      background-image: radial-gradient(to bottom, white, rgba(255, 255, 255, 0.671)); }
      .nav-content #btnOpen span {
        position: absolute;
        margin-left: -21.2%;
        margin-top: -7px;
        font-size: 14px;
        color: #06063b;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .nav-content #btnOpen:before {
        content: '';
        width: 85%;
        height: 85%;
        background-color: rgba(0, 183, 255, 0.904);
        background-image: radial-gradient(rgba(9, 156, 214, 0.904), rgba(20, 153, 206, 0.904));
        position: absolute;
        top: 8%;
        left: 7%;
        border-radius: 100%;
        opacity: 0.5;
        animation: opacidade 1.5s infinite; }

@keyframes opacidade {
  0% {
    opacity: 0.5; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
      .nav-content #btnOpen:after {
        content: '';
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        top: 8%;
        left: 7%;
        border-radius: 100%;
        filter: blur(10px); }
      .nav-content #btnOpen:hover {
        transform: scale(1.04); }
    .nav-content-btns {
      width: 100%;
      max-width: fit-content;
      height: fit-content; }
      .nav-content-btns button {
        animation: bright 0.7s infinite;
        animation-direction: alternate;
        -webkit-animation-name: bright;
        animation-name: bright;
        animation-duration: infinite;
        height: 22px;
        width: 22px;
        position: relative;
        left: 100px;
        border-radius: 50%;
        border: 4px solid white;
        outline: none; }

@-webkit-keyframes bright {
  0% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

@keyframes bright {
  0% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
        .nav-content-btns button:hover {
          cursor: pointer;
          transform: scale(1.1); }
    .nav-content ul {
      width: 100%;
      max-width: 500px;
      display: flex;
      align-self: flex-end;
      margin: auto;
      margin-bottom: 0;
      justify-content: space-between; }
      .nav-content ul li a {
        text-decoration: none;
        opacity: 1;
        color: white; }
        .nav-content ul li a:hover {
          opacity: 0.8; }
  .nav-bottom {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(139deg, crimson 50%, transparent 100px); }
    @media (min-width: 820px) {
      .nav-bottom {
        background-image: linear-gradient(155deg, crimson 150px, transparent 100px); } }

.home-container-cover {
  height: 100vh;
  overflow: hidden; }
  .home-container-cover .slide-home {
    height: 70vh;
    border: 20px solid whitesmoke;
    border-bottom: none; }
    @media (max-width: 499px) {
      .home-container-cover .slide-home {
        border: 10px solid whitesmoke; } }
    .home-container-cover .slide-home figure {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home-container-cover .slide-home figure img {
        position: absolute;
        height: auto;
        width: 100%;
        margin: auto; }
      .home-container-cover .slide-home figure figcaption {
        position: relative;
        z-index: 5;
        color: azure;
        background-color: rgba(4, 15, 31, 0.4);
        font-size: 50px;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 499px) {
          .home-container-cover .slide-home figure figcaption {
            font-size: 30px; } }
    .home-container-cover .slide-home .arrow-down {
      color: #f5f5f5;
      font-size: 51px;
      position: absolute;
      right: 3%;
      bottom: 10%;
      display: none;
      opacity: 0;
      z-index: 5; }
    .home-container-cover .slide-home .fadeIn {
      animation: fadein 1s;
      animation-delay: 1s;
      display: block; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .home-container-cover .slide-home .bounce {
      display: block;
      opacity: 1;
      animation-name: bounce;
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
  .home-container-cover .controls-container {
    height: 10vh;
    background-color: whitesmoke;
    background: linear-gradient(41deg, transparent 20px, #f5f5f5 0);
    display: flex;
    justify-content: center;
    align-items: center; }
    .home-container-cover .controls-container .button-next,
    .home-container-cover .controls-container .button-prev {
      font-size: 35px;
      outline: none;
      margin: 0 40px;
      color: blue; }
    .home-container-cover .controls-container .swiper-pagination {
      position: relative;
      z-index: 1; }
      .home-container-cover .controls-container .swiper-pagination .swiper-pagination-bullet {
        outline: none;
        opacity: 1;
        background-color: #5db0d6;
        height: 15px;
        width: 15px;
        margin: 0 5px;
        border: 2px solid white;
        box-shadow: 0 0 1px 2px #c5c1c1; }
        .home-container-cover .controls-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background-color: #302df0; }

.insigniasTeste {
  background-color: #252da0;
  max-width: 1100px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }
  .insigniasTeste li {
    max-width: 90px;
    max-height: 90px;
    margin: 20px 15px; }
    .insigniasTeste li img {
      height: calc(100% - 5px);
      width: calc(100% - 5px); }
    .insigniasTeste li.empty {
      background-color: #1b1b61;
      background: linear-gradient(12deg, black -5px, transparent 100%);
      width: 100%;
      height: 100%;
      min-width: 90px;
      min-height: 90px;
      border-radius: 8px;
      border: 8px solid #27276e; }

.container-about-me {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-about-me .container-my-avatar {
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: auto;
    text-align: center; }
  .container-about-me .container-inner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    max-width: 1100px;
    margin: auto;
    margin-top: 11%; }
    .container-about-me .container-inner .swiper-slide {
      padding-top: 60px; }
    .container-about-me .container-inner .box {
      margin-top: 50px;
      background-color: crimson;
      flex: 1;
      height: 240px;
      margin: 5px;
      margin-bottom: -100px;
      color: blue;
      text-align: center;
      padding-top: 30px; }
      .container-about-me .container-inner .box i {
        margin-left: -35px;
        font-size: 58px;
        background-color: white;
        color: blue;
        height: 100px;
        width: 100px;
        padding: 8px;
        border-radius: 100%;
        top: 10px;
        position: absolute; }
        .container-about-me .container-inner .box i:before {
          top: 20px;
          position: absolute;
          margin-left: -25px; }
      .container-about-me .container-inner .box i.fa-laptop-code:before {
        margin-left: -35px; }

.portfolio {
  height: fit-content;
  max-width: 1100px;
  margin: auto;
  padding: 30px 10px; }
  .portfolio h1 {
    margin-top: 30px; }
  .portfolio__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .portfolio__content {
    width: 100%; }
    .portfolio__content img {
      width: 100%;
      margin-bottom: 50px;
      border-radius: 8px; }
    @media (min-width: 500px) {
      .portfolio__content {
        width: 48%; }
        .portfolio__content img {
          width: 100%; } }
  .portfolio__content:last-child {
    color: white;
    text-align: center; }
  .portfolio .title {
    padding-top: 15px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase; }
    @media (min-width: 900px) {
      .portfolio .title {
        font-size: 18px; } }
  .portfolio .text {
    padding-top: 20px;
    font-size: 14px; }
    @media (min-width: 900px) {
      .portfolio .text {
        font-size: 16px; } }

footer {
  padding-top: 30px; }
  footer .footer-top {
    background-image: linear-gradient(314deg, crimson 50%, #333232 100px);
    height: 40px; }
    @media (min-width: 820px) {
      footer .footer-top {
        background-image: linear-gradient(337deg, crimson 150px, #333232 100px); } }
  footer .footer-container {
    height: 20vh;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }
    footer .footer-container .footer-content {
      width: 100%;
      display: flex;
      justify-content: center; }
      footer .footer-container .footer-content .back-top {
        position: absolute;
        right: 10px;
        font-size: 36px;
        color: aqua; }
