.contact {
    display: none;
    position: fixed;
    height: 100%;
    width:100%;
    max-width: 100%;
    z-index: 20;
    left:0;
    top:0;
    background: linear-gradient(rgba(0, 89, 255, 0.5),rgba(0,89,255,0.5));
    padding: 20px;
    @media (max-width: 555px){
        width: calc(100% - 40px);
    }    
    &__form {
        background-color: color(pk-white);
        border-radius: 8px;
        height: fit-content;
        width: 90%;
        max-width: 500px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        span {
            cursor: pointer;
            position: relative;
            margin-left: 100%;
        }
        label {
            width: 100%;
            line-height: 30px;
        }
        input {
            height: 37px;
            width: 100%;
            max-width: 350px;
            margin-bottom: 10px;
            border-radius: 8px;
            border-color: dodgerblue;
            &::placeholder {
                padding: 0 10px;
            }
        }
        textarea {
            width: 100%;
            max-width: 350px;
            border-radius: 8px;
        }
        input[type="submit"] {
            margin-top: 20px;
            background-color: dodgerblue !important;
            color: color(pk-white);
        }
    }
}