.pokedex {
    width: 400px;
    background-color: $color-primary;
    border-radius: 8px;
    margin: auto;
    margin-right: 0;
    // overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    
    > .inner { 
        flex-grow: 1; 
        flex-shrink: 0;
        padding: 6%;
        padding-bottom: 45px;
        position: relative;
        &:before {
            content: '';
            display: block;
            height: 108%;
            width: 10px;
            background-color: #920909;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: -40px;
            border-radius: 4px;

        }
    }
    header {
        overflow: hidden;
        .btncircle.-red {
            background-color: $color-quintiary; 
            opacity: 1;
        }
    }
    footer {
        flex-shrink: 0;
    }
}