footer {
    padding-top: 30px;
    .footer-top {
        background-image: linear-gradient(314deg, color(pk-red) 50%, color(pk-bg-darkGray) 100px);
        height: 40px;
        
        @media (min-width: 820px) {
            background-image: linear-gradient(337deg, color(pk-red) 150px, color(pk-bg-darkGray) 100px);
        }
    }
    .footer-container {
        height: 20vh;
        background-color: color(pk-red);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        .footer-content {
            width:100%;
            display: flex;
            justify-content: center;
            .back-top {
                position: absolute;
                right: 10px;
                font-size: 36px;
                color:aqua
            }
        }
    }
}
