
footer {
    .footer-top {
        background-image: linear-gradient(25deg, color(pk-red) 150px, color(pk-bg-darkGray) 100px);
        height: 40px;
    }

    .footer-content {
        height: 60vh;
        background-color: color(pk-red);
    }
}