.home-container-cover {
    height: 70vh;
    background-color: rgb(182, 182, 182);
    .slide-home {
        height: 400px;
        figure {
            img {

            }
            figcaption {
            
            }            
        }
    }
}