.home-container-cover {
    height: 100vw;
    margin: auto;
    padding-top: 100px;
    figure{
      width: 100%;
      max-width: 610px;
      margin: auto;
      img {
          position: absolute;
          width: 100%;
          height: auto;
          max-width: 500px;
          cursor: initial;
          animation: spin 5s linear infinite;
      }
      @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
      }
      figcaption {
          position: relative;
          
      }
  }
}