.portfolio {
    height: fit-content;
    max-width: 1100px;
    margin: auto;
    padding: 30px 10px;
    h1 {
        margin-top: 30px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__content {
        width: 100%;
        img {
            width: 100%;
            margin-bottom: 50px;
            border-radius: 8px
        }
        @include bkp(sm){
            width: 48%;
            img {
                width: 100%;
            }
        }
    }
    &__content:last-child{
        color: color(pk-white);
        text-align: center;
    }
    .title {
        padding-top: 15px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        @include bkp(lg) {
            font-size: 18px;
        }
    }
    .text {
        padding-top: 20px;
        font-size: 14px;
        @include bkp(lg) {
            font-size: 16px;
        }
    }
}

